services:
  - type: web
    name: assistente-intelligente
    env: python
    region: frankfurt
    plan: free
    branch: main
    buildCommand: "./build.sh"
    startCommand: "gunicorn run:app"
    envVars:
      - key: PYTHON_VERSION
        value: 3.11.0
      - key: SECRET_KEY
        generateValue: true
      - key: FLASK_ENV
        value: production
      - key: DATABASE_URL
        fromDatabase:
          name: assistente-db
          property: connectionString
    
databases:
  - name: assistente-db
    region: frankfurt
    plan: free
    databaseName: agenda_db
    user: agenda_user

